# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.env
.venv
venv/
env/

# AWS Chalice
.chalice/deployed/
.chalice/deployments/
.chalice/venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
